*
!*/
!*.v
!*.sv
!*.h
!*.hpp
!*.hxx
!*.c
!*.cc
!*.cpp
!*.S
!*.ld
!*.sh
!*.py
!*.mk
!*.bin
!*.scala
!*.elf
!*.txt
!*.sc
!*.ini
!*.md
!Makefile
!README
!README.md
!LICENSE
!.gitignore
**/build/
**/build_test/
# **/difftest
**/out/
!libraries/difftest
!libraries/NEMU
!libraries/DRAMsim3
!submit/*
!*.xlsx
!myinfo.txt
myenv
slangserver
3rd_lib